@page "/"

<h1>Hello, world!</h1>


<Captcha CaptchaWord="@Captcha" OnRefresh="NewCaptchaEvent" />

<p>@Captcha</p>



    @code{
        private string Captcha = "";

        private void NewCaptchaEvent()
        {
            Captcha = GetCaptchaWord(5);
        }

        private string GetCaptchaWord(int length)
        {
            Random random = new Random(System.DateTime.Now.Millisecond);

            const string chars = "ABCDEFGHJKLMNPQRSTUVWXYZabcdefghijkmnpqrstuvwxyz23456789";
            string cw = new string(Enumerable.Repeat(chars, length)
              .Select(s => s[random.Next(s.Length)]).ToArray());

            return cw;
        }


        protected override Task OnInitializedAsync()
        {
            NewCaptchaEvent();

            return base.OnInitializedAsync();
        }
    }
