.divCaptach {
    display: flex;
    flex-wrap: nowrap;
}
.btn-refresh {
    border: none;
    background-color: gainsboro;
    padding: 5px 2px 0px 4px;
    font-size: 16px;
    height: 25px;
    align-self: center;
    margin-left: 3px;
    border-radius: 4px;
    cursor: pointer;
}

    .btn-refresh:before {
        content: url(refresh.svg);
        width: 15px;
        float: left;
        margin-right: 5px;
        margin-top: -2px;
    }