@page "/"
@using BlazorCaptcha

<h3>Hello, world!</h3>


<Captcha CaptchaWord="@Captcha" OnRefresh="NewCaptchaEvent" />

<p>@Captcha</p>

@code{
    private string Captcha = "";

    private void NewCaptchaEvent()
    {
        Captcha = BlazorCaptcha.Tools.GetCaptchaWord(5);
    }


    protected override Task OnInitializedAsync()
    {
        NewCaptchaEvent();

        return base.OnInitializedAsync();
    }
}
