@page "/"
@using BlazorCaptcha.WebAssembly

<PageTitle>Index</PageTitle>

<h3>Hello, world!</h3>

<Captcha @bind-CaptchaWord="@Captcha" Width="200" Height="50" CharNumber="@CaptchaLetters" /> 
                 
<p>@Captcha</p>

@code{
    private string Captcha  { get; set; } = string.Empty;
    private int CaptchaLetters = 5;
    
    protected override Task OnInitializedAsync()
    {
         Captcha = BlazorCaptcha.Tools.GetCaptchaWord(CaptchaLetters);
        return base.OnInitializedAsync();
    }

}